 #titulo{
    display: block;
    margin-top: 16rem;
    width: 20rem;
    border-radius: 10px;
    padding: 10px;
    
    
    
}


#texto{
    display: block;
    margin-top: 2rem;
    border-radius: 10px;
    width: 30rem;
    padding: 38px;   
    
}


h1{
    text-align: center;
}


h2{
    text-align: center;
}

.container{
    align-items: center;
    display: flex;
    justify-content: center;
}


.caixa{
    margin: auto;
    background-color: rgb(57, 57, 250);
    width: 30rem;
    height: 35rem;
    border-radius: 20px;
}